@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{<link href="@Url.Content("~/Content/css/index.css")" rel="stylesheet" type="text/css" />}
@section scripts{<script src="@Url.Content("/Scripts/default.js")" type="text/javascript"></script>
<script type="text/javascript">$(document).ready(function () {defaultPage();});</script>}

<div id="section">
    <div id="article">
        <div id="aside">
            <h2>
                Você gostaria de prestar de serviços?</h2>
            <div class="guide">
                <p>
                    Você que é <strong>especialista</strong> ou tem uma <strong>empresa especializada</strong>
                    em algum tipo de serviço, <span>anuncie agora e encontre diversas oportunidades, <strong>
                        para fazer uma renda extra todo mês.</strong></span>
                </p>
                <a href="javascript:void(0);">Anuncie seu Job</a>
            </div>
        </div>
        <div id="cside">
            <h2>
                Acesso rápido e fácil</h2>
            <div class="guide">
                <p>
                    Quer anunciar? Entre agora e gerencie sua conta.
                </p>
                <a id="login" href="javascript:void(0);" title="Entrar">Entrar</a>
                <p>
                    Ainda não está cadastrado? Não perca tempo, se cadastre já.
                </p>
                <a id="cadastro" href="javascript:void(0);" title="Cadastre-se">Cadastre-se</a>
            </div>
        </div>
        <div id="bside">
            <h2>
                Você precisa de um profissional?</h2>
            <div class="guide">
                <p>
                    Você que precisa de um <strong>profissional capacitado</strong> para executar um
                    serviço, ou um projeto no qual você <span>irá desenvolver, aqui você encontra os <strong>
                        profissionais certos e qualificados para o serviço.</strong></span>
                </p>
                <a href="javascript:void(0);">Contratar um Job</a>
            </div>
        </div>
    </div>
    <div id="nav">
        <div id="menu-info">
            <h3>
                Últimas atividades
            </h3>
            <ul>
                <li class="last-task">
                    <p>
                        Busca por:<br />
                        Webdesign</p>
                </li>
                <li>
                    <p>
                        Você contratou:<br />
                        Marcos Paulo Webdesign</p>
                </li>
                <li>
                    <p>
                        Avaliação de:<br />
                        Marcos Paulo Webdesign copy</p>
                </li>
            </ul>
            <h3 id="message">
                Mensagens
            </h3>
            <div class="last-task">
                <p>
                    Você possui 1 mensagem
                </p>
            </div>
        </div>
        <ol id="nav-blocs">
            <li>
                <h1>
                    Anúncios mais buscados hoje</h1>
                <ul class="sub-lista">
                    <li>
                        <fieldset>
                            <div>
                                <a href="#Oportunidade">
                                    <img src="../../Content/images/oportunidades/img-servico.jpg" alt="Oportunidade" title="Oferta" />
                                </a>
                            </div>
                            <h2>
                                <a href="#Oportunidade">Categoria </a>
                            </h2>
                            <p>
                                <a href="#Oportunidade">Descrição Descrição Descrição Descrição Descrição Descrição
                                    Descrição </a>
                            </p>
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <div>
                                <a href="#Oportunidade">
                                    <img src="../../Content/images/oportunidades/img-servico.jpg" alt="Oportunidade" title="Oferta" />
                                </a>
                            </div>
                            <h2>
                                <a href="#Oportunidade">Categoria </a>
                            </h2>
                            <p>
                                <a href="#Oportunidade">Descrição Descrição Descrição Descrição Descrição Descrição
                                    Descrição </a>
                            </p>
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <div>
                                <a href="#Oportunidade">
                                    <img src="../../Content/images/oportunidades/img-servico.jpg" alt="Oportunidade" title="Oferta" />
                                </a>
                            </div>
                            <h2>
                                <a href="#Oportunidade">Categoria </a>
                            </h2>
                            <p>
                                <a href="#Oportunidade">Descrição Descrição Descrição Descrição Descrição Descrição
                                    Descrição </a>
                            </p>
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <div>
                                <a href="#Oportunidade">
                                    <img src="../../Content/images/oportunidades/img-servico.jpg" alt="Oportunidade" title="Oferta" />
                                </a>
                            </div>
                            <h2>
                                <a href="#Oportunidade">Categoria </a>
                            </h2>
                            <p>
                                <a href="#Oportunidade">Descrição Descrição Descrição Descrição Descrição Descrição
                                    Descrição </a>
                            </p>
                        </fieldset>
                    </li>
                </ul>
            </li>
            <li>
                <h1>
                    Adicionados recentemente</h1>
                <ul class="sub-lista">
                    <li>
                        <fieldset>
                            <div>
                                <a href="#Oportunidade">
                                    <img src="../../Content/images/oportunidades/img-servico.jpg" alt="Oportunidade" title="Oferta" />
                                </a>
                            </div>
                            <h2>
                                <a href="#Oportunidade">Categoria </a>
                            </h2>
                            <p>
                                <a href="#Oportunidade">Descrição Descrição Descrição Descrição Descrição Descrição
                                    Descrição </a>
                            </p>
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <div>
                                <a href="#Oportunidade">
                                    <img src="../../Content/images/oportunidades/img-servico.jpg" alt="Oportunidade" title="Oferta" />
                                </a>
                            </div>
                            <h2>
                                <a href="#Oportunidade">Categoria </a>
                            </h2>
                            <p>
                                <a href="#Oportunidade">Descrição Descrição Descrição Descrição Descrição Descrição
                                    Descrição </a>
                            </p>
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <div>
                                <a href="#Oportunidade">
                                    <img src="../../Content/images/oportunidades/img-servico.jpg" alt="Oportunidade" title="Oferta" />
                                </a>
                            </div>
                            <h2>
                                <a href="#Oportunidade">Categoria </a>
                            </h2>
                            <p>
                                <a href="#Oportunidade">Descrição Descrição Descrição Descrição Descrição Descrição
                                    Descrição </a>
                            </p>
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <div>
                                <a href="#Oportunidade">
                                    <img src="../../Content/images/oportunidades/img-servico.jpg" alt="Oportunidade" title="Oferta" />
                                </a>
                            </div>
                            <h2>
                                <a href="#Oportunidade">Categoria </a>
                            </h2>
                            <p>
                                <a href="#Oportunidade">Descrição Descrição Descrição Descrição Descrição Descrição
                                    Descrição </a>
                            </p>
                        </fieldset>
                    </li>
                </ul>
            </li>
            <li>
                <h1>
                    Segmento aleatório</h1>
                <ul class="sub-lista">
                    <li>
                        <fieldset>
                            <div>
                                <a href="#Oportunidade">
                                    <img src="../../Content/images/oportunidades/img-servico.jpg" alt="Oportunidade" title="Oferta" />
                                </a>
                            </div>
                            <h2>
                                <a href="#Oportunidade">Categoria </a>
                            </h2>
                            <p>
                                <a href="#Oportunidade">Descrição Descrição Descrição Descrição Descrição Descrição
                                    Descrição </a>
                            </p>
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <div>
                                <a href="#Oportunidade">
                                    <img src="../../Content/images/oportunidades/img-servico.jpg" alt="Oportunidade" title="Oferta" />
                                </a>
                            </div>
                            <h2>
                                <a href="#Oportunidade">Categoria </a>
                            </h2>
                            <p>
                                <a href="#Oportunidade">Descrição Descrição Descrição Descrição Descrição Descrição
                                    Descrição </a>
                            </p>
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <div>
                                <a href="#Oportunidade">
                                    <img src="../../Content/images/oportunidades/img-servico.jpg" alt="Oportunidade" title="Oferta" />
                                </a>
                            </div>
                            <h2>
                                <a href="#Oportunidade">Categoria </a>
                            </h2>
                            <p>
                                <a href="#Oportunidade">Descrição Descrição Descrição Descrição Descrição Descrição
                                    Descrição </a>
                            </p>
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <div>
                                <a href="#Oportunidade">
                                    <img src="../../Content/images/oportunidades/img-servico.jpg" alt="Oportunidade" title="Oferta" />
                                </a>
                            </div>
                            <h2>
                                <a href="#Oportunidade">Categoria </a>
                            </h2>
                            <p>
                                <a href="#Oportunidade">Descrição Descrição Descrição Descrição Descrição Descrição
                                    Descrição </a>
                            </p>
                        </fieldset>
                    </li>
                </ul>
            </li>
        </ol>
    </div>
</div>
